/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/ .done {
  text-decoration: line-through;
} 


body {
  
  margin: 2rem auto;
  text-align: center;
}

.inputNotes {
background-color: transparent;
border: none;
border-bottom: 2px solid #fff;
margin-bottom: 4px;
outline:none;
color:#fff

}

ol {
 
  margin: 0 auto;
  text-align: left;
}

.form-check {
  
  display: block;
  padding-left: 0;
}
.form-group {
  margin-bottom: 0;
}
/* .custom-div {
display: flex;
flex-direction: column;
justify-content: flex-start;
} */



body div.ab {
 
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.fourth {
  max-width: 40%;
  margin: 0 auto;
}